/*CART HTML*/
.sidebysidecartboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  padding-left: 3rem;
}
.leftcartbox {
  width: 700px;
  border: 2px solid rgb(165, 165, 165);
  border-radius: 7px;
  padding: 1rem;
  height: auto;
}
.leftcartboxtitleandclear {
  display: flex;
}
.carttitle {
  margin-right: auto;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: bold;
}
.cartproductcount {
  font-size: 0.8rem;
  color: rgb(138, 138, 138);
  margin-left: 0.2rem;
  font-weight: normal;
}
.priceofitemoncarts {
  margin-right: 3rem;
}
.leftcartboxclearcart {
  margin-left: auto;
  color: red;
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.headingsforcartitems {
  display: flex;
  justify-content: space-between;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.9rem;
  margin-top: 1.5rem;
}
.itemitselfoncart {
  display: flex;
  gap: 0.4rem;

  width: 220px;
}
.itemnameandcategoryoncart {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.9rem;
}
.itemsdetailsitselfoncart {
  display: flex;
  justify-content: space-between;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 0.4rem;
  margin-top: 2rem;
}
.itemimageoncart {
  width: 100px;
  height: 100px;
  background-color: rgb(192, 192, 192);
  border-radius: 7px;
  position: relative;
}
.itemimageoncart img {
  position: absolute;
  top: 2%;
  left: 3%;
  width: 90%;
  height: 90%;
}

.itemcaegoryoncart {
  color: rgb(97, 97, 97);
  font-size: 0.8rem;
}
.incrementordecrementofitemoncart {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-right: 7rem;
}

.decrementoncart i,
.incrementoncart i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgb(167, 167, 167);
  display: flex;
  justify-content: center;
  align-items: center;
}

.priceofitemoncart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.removecartitembutton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  cursor: pointer;
}
.rightcartbox {
  width: 350px;
  border: 2px solid rgb(187, 187, 187);
  height: 250px;
  border-radius: 10px;
  background-color: rgb(238, 237, 237);
  padding: 0.4rem;
}
.promocodeinputandbtn {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
}
.promocodeheading {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}
.promocodeinput {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgb(209, 209, 209);
  padding: 0.5rem;
}

.applypormocodebutton {
  width: 90px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 0.3rem;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: absolute;
  left: 72%;
  top: 44%;
}

.name-price-on-cart-right-box {
  display: flex;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 0.5rem;
  justify-content: space-around;
  color: rgb(70, 69, 69);
}
/* .price-on-right-cart-box {
  margin-left: auto;
} */

.total-checkout-in-right-cart-box {
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.checkout-button-right-cart-box button {
  border-radius: 15px;
  border: none;
  width: 90px;
  background-color: black;
  color: whitesmoke;
  padding: 0.2rem;
  cursor: pointer;
}

.main_page_copyright_cart {
  display: flex;
  justify-content: center;
}
.cartemptytext {
  display: flex;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
}
