/*PRODUCT HTML*/
.imageandsidenotesonPRP {
  display: flex;
  gap: 3rem;
  padding-left: 5rem;
  padding-right: 3rem;
}
.bigimageonPRPbackground {
  background-color: rgb(197, 197, 197);
  width: 400px;
  height: 450px;
  border-radius: 7px;
  position: relative;
}

.bigimageonPRP {
  width: 100%;
  height: 100%;
}

.itemimageonPRP {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 7px;
}

.mainitemtitleforPRP {
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  font-size: 2.5rem;
  font-weight: bold;
}
.supportingtitlesentenceonPRP {
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  font-size: 0.8rem;
  width: 300px;
  margin-top: 0.3rem;
}
.starsonPRP {
  margin-top: 0.6rem;
}
.smallhrrulleronPRP {
  background-color: rgb(196, 196, 196);
  width: 400px;
  height: 1px;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.largeboldpricesonPRP {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  margin-top: -0.3rem;
}
.suggestedaymetntextonPRP {
  margin-top: 0.4rem;
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  font-size: 0.8rem;
}
.incdec-and-aitemsleft-PRP {
  display: flex;
  gap: 0.2rem;
}
.incrementofnumberofitemsonPRP {
  background-color: rgb(212, 212, 212);
  padding: 0.4rem;
  border-radius: 18px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.decrementonPRP {
  margin-right: auto;
  font-size: 1rem;
  margin-left: 0.3rem;
}
.incrememntonPRP {
  margin-left: auto;
  font-size: 1rem;
  margin-right: 0.3rem;
}

.itemsleftonPRP {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  font-size: 0.8rem;
}

.buynow-and-addtocart-button-on-PRP {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  font-family: "Exo 2", sans-serif;

  font-style: normal;
}
.buynoe-button-onPRP {
  width: 150px;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  background-color: blue;
  color: white;
}
.addtocartbuttononPRP {
  width: 150px;
  padding: 0.5rem;
  border-radius: 15px;
  border: 1px solid blue;
  background-color: transparent;
}

.returnpolicyonPRP {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.returnpolicyonPRP i {
  color: blue;
}

.returnpolicyonPRP p {
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  font-size: 0.8rem;
}
.detailsfordeliveryreturnsonPRP {
  text-decoration: underline;
  cursor: pointer;
}
.nuberofitemsleftonPRP {
  color: blue;
}
.similar-items-umaylikeon-PRP {
  padding: 1rem;
}

.headingforsimilartemsonPRP {
  font-size: 1.4rem;
  font-family: "Exo 2", sans-serif;

  font-style: normal;
}
.product_html_body_tag_for_positioning {
  position: relative;
}

#overlay_for_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5); /* this is the dark background */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal_div_itself {
  width: 40vw;
  height: auto;
  background: rgb(223, 222, 222);
  border-radius: 15px;
  padding: 1rem;
  position: absolute;
  left: 30%;
  top: 10%;
}

.headings_for_return_policy {
  display: flex;
}
.return_policy_heading {
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  color: blue;
}
.clost-button-for-return-policy-modal {
  margin-left: auto;
}
.first_paragraph_for_return_policy {
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  margin-top: 2rem;
}
.non-returnable-items-return-policy {
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.underlined-highlighted {
  text-decoration: underline;
  color: blue;
}
