/*SHOP HTML*/
.header_for_shophtml {
  padding: 0.5rem;
  margin-top: 1.5rem;
  background: rgba(158, 158, 158, 0.1);
}
.nav_bar_div_forShop ul {
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
}

.nav_bar_div_forShop li {
  list-style: none;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.nav_bar_div_forShop li a {
  text-decoration: none;
  color: #000000;
  position: relative;
  padding-bottom: 2px;
}

.nav_bar_div_forShop li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #000000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.nav_bar_div_forShop li a:hover::after {
  transform: scaleX(1);
}

.first_nav_items {
  margin-right: auto;
}

.second_nav_items {
  margin-left: auto;
}

.nav_bar_div li .sign-up-button-1 {
  background-color: #000000;
  color: #ffffff;
  padding: 0.6rem 1.2rem;
  border-radius: 18px;
  border: none;
  font-size: 0.75rem;
  cursor: pointer;
}

.shophtmlbanner {
  /* background-color: rgb(160, 160, 160); */
  background: linear-gradient(
    to left,
    rgb(54, 54, 54),
    rgb(133, 133, 133),
    rgb(36, 3, 128)
  );
  height: 230px;
  display: flex;
  margin: 1rem;
  border-radius: 15px;
  position: relative;
  padding: 1rem;
}
.grabupto50 {
  position: absolute;
  font-size: 2rem;
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  width: 350px;
  top: 15%;
  left: 5%;
}
.buynowonbanner {
  position: absolute;
  padding: 0.4rem;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60%;
  left: 6%;
  border-radius: 15px;
  border: none;
  font-family: "Exo 2", sans-serif;

  font-style: normal;
}
.shoeimageonbanner1 {
  position: absolute;
  left: 70%;
  top: 1%;
}
.shoeimageonbanner1 img {
  border-radius: 15px;
}

.buttonsundershopbanner {
  margin: 1rem;
}
#logo_text_shop img {
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 50%;
  top: 35%;
}
.buttonsundershopbanner a.button1underbanner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: rgb(197, 197, 197);
  padding: 0.4rem;
  width: 80px;
  border-radius: 15px;
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buttonsundershopbanner a.button1underbanner:hover {
  background-color: rgb(170, 170, 170);
}

.featureditemssection,
.trendingsectioninshop,
.menssectiononshophtml,
.womensssectiononshophtml,
.accessoriessectiononshophtml,
.shoessectiononshophtml,
.jacketsssectiononshophtml {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.featured-items-title p,
.trendingsectiontitleonSh,
.mensectiontititleSh,
.womenssectiontititleSh,
.assesoriessectiontititleSh,
.jacketsectiontititleSh,
.shoesectiontititleSh {
  font-family: "Exo 2", sans-serif;

  font-style: normal;
  font-size: 1.4rem;
}
.itembackgroundonitemcardSh {
  width: 220px;
  height: 200px;
  background-color: rgb(233, 233, 233);
  border-radius: 7px;
}
.itemcardonshoppage {
  position: relative;
  width: 220px;
}
.itemcardonshoppage img {
  position: absolute;
  top: 3%;
  left: 15%;
  border-radius: 7px;
  width: 130px;
  cursor: pointer;
}
.loveicononfeatureditems {
  position: absolute;
  top: 2%;
  left: 83%;
}
.loveicononfeatureditems i {
  font-size: 1.1rem;
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.nameandpricedivonitemcardSh {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
.itempriceonitemcardsh {
  display: flex;
  margin-left: auto;
}
.itemnameonitemcardSh {
  margin-right: auto;
}
.itemdescriptiononitemcardSh {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}
.staricononitemcardSh {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.2rem;
}
.staricononitemcardSh p {
  font-family: "Poppins", sans-serif;
  margin-left: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.staricononitemcardSh i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.addtocardbuttononitemcardSh {
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 15px;
  width: 120px;
  background: transparent;
  margin-top: 0.3rem;
}

.overalldivforfeaturesitemcards,
.trendingitemsonShoveralldiv,
.overalldivformensitemscardsSh,
.overalldivforwomenssitemscardsSh,
.overalldivforaccessoriessitemscardsSh,
.overalldivforshoesitemscardsSh,
.overalldivforjacketsitemscardsSh {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

