.overall_div_for_wishlist_page {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-direction: row;
}

.div_for_wishlist_side_profile {
  height: 80vh;
  width: 18vw;
  border-radius: 10px;
  position: sticky;
  top: 18%;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.div_fior_wishlist_right_section {
  /* background-color: rebeccapurple;
  height: 1000000000px;
  width: 78vw; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.first_part_of_profile_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
  align-items: center;
}
.profile_picture_on_wishlist {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.wishlistprofile_name p {
  font-size: 0.9rem;
}

.div_stars_on_wishlist_profile {
  display: flex;
  gap: 0.3rem;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
.numberofstarswishlistprofile {
  font-weight: bold;
}
.stars_on_wishlist_profile i {
  color: blueviolet;
}

.addinfobutononwishlistprofile {
  margin: 0.4rem;
}
.addinfobutononwishlistprofile button {
  padding: 0.3rem;
  width: 75px;
  background-color: transparent;
  border: 2px solid blueviolet;
  font-size: 0.95rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}
.second_part_of_wishlist_profiele_Section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.homes_second_wishlist_prof_sec {
  display: flex;
  gap: 1.8rem;
  font-family: "Exo 2", sans-serif;
  font-size: 1.1rem;
  margin-left: 1rem;
}
.homes_second_wishlist_prof_sec:hover {
  background: rgba(102, 51, 153, 0.438);
  padding: 0.3rem;
  border-radius: 12px;
  /* backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); */
  border: 1px solid rebeccapurple;
  color: white;
  cursor: pointer;
}
.homes_second_wishlist_prof_sec i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
}
.support_on_wishlist_profile {
  display: flex;
  margin-top: 2rem;
}

.shop_button_on_wishlist_profile {
  display: flex;
  margin-top: 1.4rem;
  justify-content: center;
}

.shop_button_on_wishlist_profile button {
  width: 220px;
  padding: 0.6rem;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 12px;
}

.wishlist_butotn_on_wishlist_profile {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.5rem;
  background: rgba(102, 51, 153, 0.438);
  margin-left: 0.5rem;
  border-radius: 12px;
  /* backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); */
  border: 1px solid rebeccapurple;
  color: white;
}

/*WISHLIST ON THE RIGHT*/
.wishlist_heading_on_right_Side {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  height: 50px;
  margin-right: auto;
}
.wishlist_heading_on_right_Side p {
  font-size: 1.1rem;
  font-weight: bold;
}

.wishlist_heading_on_right_Side select {
  padding: 0.4rem;
  border-radius: 12px;
  width: 100px;
  background-color: rgb(34, 34, 34);
  border: none;
  color: white;
}

.actual_wishlists_items_overall_div {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.individual_wishlist_cards {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.3rem;
  background-color: blueviolet;
  border-radius: 12px;
  width: 300px;
  height: 220px;
}
.container_for_wishlist_item_image {
  background-color: rgb(194, 130, 255);
  width: 280px;
  height: 130px;
  border-radius: 12px;
  margin: 0 auto;
  position: relative;
}

.container_for_wishlist_item_image img {
  position: absolute;
  width: 130px;
  top: 0;
  right: 30%;
}
.name_and_date_on_wishlist_items {
  display: flex;
  font-size: 0.9rem;
  color: white;
}
.date_on_wishlist_item {
  display: flex;
  margin-left: auto;
}

.price_and_heart_icon_on_wishlist_icon_on_wishlist_item {
  display: flex;
  margin-top: 1.1rem;
}
.price_on_wishlist_item {
  margin-right: auto;
  font-size: 1.1rem;
  color: white;
}
.wish_and_delete_on_wishlist_item {
  margin-left: auto;
  display: flex;
  gap: 0.4rem;
}
.wish_on_wishlist_item i {
  color: gold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 50%;
  background-color: rgb(194, 130, 255);
}

.delete_on_wishlist_item i {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 50%;
  background-color: rgb(194, 130, 255);
  color: red;
}
